@use '../../../../styles/colors';
@use '../../../../styles/fonts';

.wrapper {
  height: 44px;
  padding: 0 20px;
  background-color: colors.$white;
  border: 1px solid colors.$gray-scale-300;
  border-radius: 100px;

  @include fonts.primary-14-400;

  &.toggled {
    background-color: colors.$gray-scale-300;
    &.color-primary {
      color: colors.$white;
      background-color: colors.$blue-300;
      @include fonts.primary-14-500;
    }
  }
}
