/////////////////////////
/////               /////
/////   Primitive   /////
/////               /////
/////////////////////////

// Gray Scales
$white: #fff;
$gray-scale-50: #f6f6f6;
$gray-scale-100: #ebebeb;
$gray-scale-200: #e4e4e4;
$gray-scale-300: #e0e0e0;
$gray-scale-400: #d6d6d6;
$gray-scale-500: #a6a6a6;
$gray-scale-600: #737373;
$gray-scale-700: #4f4f4f;
$gray-scale-800: #222222;
$black: #000;

// Blue
$blue-50: #9eabff;
$blue-100: #8595ff;
$blue-200: #7283ff;
$blue-300: #6576ff;
$blue-400: #5e6eff;
$blue-500: #4657e6;
$blue-600: #3143cc;
$blue-700: #2032b3;
$blue-800: #122399;
$blue-900: #071780;

// Purple
$purple-50: #ddb7ff;
$purple-100: #d2a4ff;
$purple-200: #c796ff;
$purple-300: #be8cff;
$purple-400: #b586fb;
$purple-500: #a16ee6;
$purple-600: #8d59cc;
$purple-700: #7a45b3;
$purple-800: #673499;
$purple-900: #552680;

/////////////////////////
/////               /////
/////   Semantic    /////
/////               /////
/////////////////////////

/////////////////////////
/////               /////
/////   Component   /////
/////               /////
/////////////////////////
$font-primary: $black;
$font-secondary: $gray-scale-500;
