@use '../../../../../styles/colors';
@use '../../../../../styles/shadows';

.wrapper {
  width: 20px;
  height: 100px;
  background-color: colors.$white;
  border-radius: 0 0 2px 2px;
  @include shadows.piano-shadow;
}

.pressed {
  background-color: colors.$purple-400;
}

.highlight {
  background-color: colors.$blue-400;
}
