@use '../../../../styles/colors';
@use '../../../../styles/shadows';

.wrapper {
  position: relative;
}

.whiteKeyContainer {
  display: flex;
  gap: 1px;
}

.blackKeyContainer {
  display: flex;
  gap: 6px;

  position: absolute;
  top: 0;
  left: 13px;

  > :nth-child(3) {
    margin-left: 21px;
  }
}
